<div class="row" style="color:#ff0000 ; background:#cccccc ; padding:20px; margin:0px;"%>
	<div class="col-md-4 offset2">
	</div>
	<% if can? :show, Centre %>
		<%= link_to @centre.name , centre_path(@centre) %>
	<% end %><br>
	<% if can? :create, Service %>
	<%= link_to "Add Service", new_service_path%>
	<% end %>
	<h1>Services</h1>
	
	<div class="col-md-8 offset2">
		<% @services.each do |service| %>
			<div class="row" style="color:#ff0000 ; background:#77ddff ; padding:20px; margin:0px;" %>
				<table>
					<strong>Name:</strong>
					<% if can? :show, Service %>
						<%= link_to service.name , service_path(service) %>
					<% end %><br>

				      <strong>Type of Service</strong><%= service.service_type %><br>
				      <strong>Price</strong><%= service.price %><br>
				      <strong>DD Price</strong><%= service.dd_price %><br>
				      
			      	<% if can? :edit, Service %>
			    	  	<%= link_to "Edit", edit_service_path(service) %>
			    	<% end %>
			    	<% if can? :destroy, Service %>
			    	  	<%= link_to 'Delete', service_path(service), method: :delete,data: { confirm: 'Are you sure?'}%>
			    	<% end %>
				</table>
			</div><hr>
		<% end %>
	</div>
</div>
