<h1>Listing medical_tests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Alt name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_tests.each do |medical_test| %>
      <tr>
        <td><%= medical_test.name %></td>
        <td><%= medical_test.short_name %></td>
        <td><%= medical_test.alt_name %></td>
        <td><%= link_to 'Show', medical_test %></td>
        <td><%= link_to 'Edit', edit_medical_test_path(medical_test) %></td>
        <td><%= link_to 'Destroy', medical_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical test', new_medical_test_path %>
