<%= link_to "<<Back", :back %>
<div class="row" style="color:#ff0000 ; background:#cccccc ; padding:50px; margin:0px;" %>
	<div class="col-md-1 offset2">
	</div>
	<h2>Edit <%= resource_name.to_s.humanize %></h2>
	<%= devise_error_messages! %>
		<div class="col-md-4 offset2">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				<div class="row" style="color:#ff0000 ; background:#77ddff ; padding:20px; margin:0px;" %>
					<table>
						<h3>Account Details</h3></br>
						  <div class="field">
						    <%= f.label :email %><br />
						    <%= f.email_field :email, autofocus: true %>
						  </div>
						  
						  <div class="field">
						    <%= f.label :mobile %><br />
						    <%= f.telephone_field :mobile, autofocus: true %>
						  </div>
						
						  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
						    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
						  <% end %>
						
						  <div class="field">
						    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
						    <%= f.password_field :password, autocomplete: "off" %>
						  </div>
						
						  <div class="field">
						    <%= f.label :password_confirmation %><br />
						    <%= f.password_field :password_confirmation, autocomplete: "off" %>
						  </div>
						
						  <div class="field">
						    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
						    <%= f.password_field :current_password, autocomplete: "off" %>
						  </div>
						
						  <div class="actions">
						    <%= f.submit "Update" %>
						  </div>
						</table>
					</div>
				<% end %>
			</div>
		</div>
