<p id="notice"><%= notice %></p>

<p>
  <strong>Centre:</strong>
  <%= @clinic_facility_traveller.centre_id %>
</p>

<p>
  <strong>International trael friendly:</strong>
  <%= @clinic_facility_traveller.international_trael_friendly %>
</p>

<p>
  <strong>International travel friendly description:</strong>
  <%= @clinic_facility_traveller.international_travel_friendly_description %>
</p>

<p>
  <strong>Local travel friendly:</strong>
  <%= @clinic_facility_traveller.local_travel_friendly %>
</p>

<p>
  <strong>Local travel friendly description:</strong>
  <%= @clinic_facility_traveller.local_travel_friendly_description %>
</p>

<p>
  <strong>Traveller accomodation friendly:</strong>
  <%= @clinic_facility_traveller.traveller_accomodation_friendly %>
</p>

<p>
  <strong>Traveller accomodation friendly description:</strong>
  <%= @clinic_facility_traveller.traveller_accomodation_friendly_description %>
</p>

<p>
  <strong>Local guide:</strong>
  <%= @clinic_facility_traveller.local_guide %>
</p>

<p>
  <strong>Local guide description:</strong>
  <%= @clinic_facility_traveller.local_guide_description %>
</p>

<p>
  <strong>Tour and vacation services:</strong>
  <%= @clinic_facility_traveller.tour_and_vacation_services %>
</p>

<p>
  <strong>Tour and vacation services description:</strong>
  <%= @clinic_facility_traveller.tour_and_vacation_services_description %>
</p>

<p>
  <strong>Pickup from hotel:</strong>
  <%= @clinic_facility_traveller.pickup_from_hotel %>
</p>

<p>
  <strong>Pickup from hotel decription:</strong>
  <%= @clinic_facility_traveller.pickup_from_hotel_decription %>
</p>

<p>
  <strong>Pickup from airport:</strong>
  <%= @clinic_facility_traveller.pickup_from_airport %>
</p>

<p>
  <strong>Pickup from airport description:</strong>
  <%= @clinic_facility_traveller.pickup_from_airport_description %>
</p>

<%= link_to 'Edit', edit_clinic_facility_traveller_path(@clinic_facility_traveller) %> |
<%= link_to 'Back', clinic_facility_travellers_path %>
