<%= link_to "Add Service Type", new_facility_type_path %>
<h1>Listing Facility Types</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @facility_types.each do |facility_type| %>
    <tr>
      <td><%= facility_type.name %></td>
      <td><%= facility_type.description %></td>
      <td><%= link_to "Show", facility_type_path(facility_type) %>
    	  <%= link_to "Edit", edit_facility_type_path(facility_type) %>
    	  <%= link_to 'Delete', facility_type_path(facility_type), method: :delete,data: { confirm: 'Are you sure?'}%></td>
    </tr>
  
  <% end %>
</table>